  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:latest
    container_name: caddy
    restart: unless-stopped
    depends_on:
      - pihole
      - jellyfin
      - navidrome
      - syncthing
      - filebrowser
      - portainer
{% if homelab_gluetun_enabled %}
{% if gluetun_wireguard_private_key | length > 0 and gluetun_wireguard_addresses | length > 0 %}
      - gluetun
{% endif %}
{% endif %}
    environment:
      CLOUDFLARE_API_TOKEN: "{{ cloudflare_dns_api_token }}"
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    volumes:
      - "{{ penzance_data_root }}/config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "{{ penzance_data_root }}/config/caddy/data:/data"
      - "{{ penzance_data_root }}/config/caddy/config:/config"
    networks:
      - edge
      - media
{% if homelab_gluetun_enabled %}
      - vpn
{% endif %}
