  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    user: "1001:1001"
    environment:
      TZ: "{{ timezone }}"
      ND_SCANSCHEDULE: "1h"
      ND_LOGLEVEL: "info"
      ND_SESSIONTIMEOUT: "24h"
    volumes:
      - "{{ penzance_data_root }}/config/navidrome:/data"
      - "{{ shared_storage_media_root }}/music:/music:ro"
    networks:
      - media
