{
	email info@towerundersiege.com
}

(cloudflare_tls) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

{{ pihole_local_domain }} {
	import cloudflare_tls
	reverse_proxy pihole:8080
}

{{ proxmox_local_domain }} {
	import cloudflare_tls
	reverse_proxy https://192.168.1.100:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

{{ jellyfin_local_domain }} {
	import cloudflare_tls
	reverse_proxy jellyfin:8096
}

{{ navidrome_local_domain }} {
	import cloudflare_tls
	reverse_proxy navidrome:4533
}

{{ syncthing_local_domain }} {
	import cloudflare_tls
	reverse_proxy syncthing:8384
}

{{ filebrowser_local_domain }} {
	import cloudflare_tls
	reverse_proxy filebrowser:8080
}

http://{{ jellyfin_firetv_local_domain }} {
	reverse_proxy jellyfin:8096
}

https://{{ jellyfin_firetv_local_domain }} {
	import cloudflare_tls
	reverse_proxy jellyfin:8096
}

{{ isambard_local_domain }} {
	import cloudflare_tls
{% if gluetun_wireguard_private_key | length > 0 and gluetun_wireguard_addresses | length > 0 and isambard_jellyfin_api_key | length > 0 and isambard_tmdb_api_key | length > 0 %}
	reverse_proxy gluetun:8765
{% else %}
	respond "isambard is waiting for VPN and API secrets" 503
{% endif %}
}

{{ portainer_local_domain }} {
	import cloudflare_tls
	reverse_proxy portainer:9000
}
