networks:
  edge:
    driver: bridge
  media:
    driver: bridge
{% if homelab_gluetun_enabled %}
  vpn:
    driver: bridge
{% endif %}

services:
{% for service_template in homelab_docker_service_templates %}
{% include "compose-services/" ~ service_template %}
{{ "\n" }}
{% endfor %}
